ENTRA_SECRET="MyXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXaL8"
ENTRA_TENANT="b6XXXXXX-2348-XXXX-af0a-2fdb55573e3b"
ENTRA_CLIENTID="cXXXXXXX-63ea-XXXX-98ce-XXXXXXXXXXXX"
ENTRA_ACCESS_TOKEN = "G1zY2xvdWQub25taWNyb3NvZnQuY29tIiwidXRpIjoiTjRBVVdTdjBSa0dvdWNneVp5dy1BQSIsInZlciI6IjEuMCIsIndpZHMiOlsiMTU4YzA0N2EtYzkwNy00NTU2LWI3ZWYtNDQ2NTUxYTZiNWY3IiwiZjJlZjk5MmMtM2FmYi00NmI5LWI3Y2YtYTEyNmVlNzRjNDUxIiwiY2YxYzM4ZTUtMzYyMS00MDA0LWE3Y2ItODc5NjI0ZGNlZDdjIiwiOWI4OTVkOTItMmNkMy00NGM3LTlkMDItYTZhYzJkNWVhNWMzIiwiYjc5ZmJmNGQtM2VmOS00Njg5LTgxNDMtNzZiMTk0ZTg1NTA5Il0sInhtc19jYyI6WyJDUDEiXSwieG1zX3NzbSI6IjEiLCJ4bXNfc3QiOnsic3ViIjoid1JXYlo5a2g5SDFVbkxzS2tGWDlRSFpsRk9ZSkZmSFBnSFM4akItdXAxayJ9LCJ4bXNfdGNkdCI6MTU4MDIwNTk0NSwieG1zX3RkYnIiOiJFVSJ9.e5PjVn52HqdAGmrORjU0d_LiIjppPjmbN3uRpFJrxQ1B9F26ZLXWS4K9SWEr4-AWQXMtafyPcQWNojTNNpcNJQN6YFcMueFtIUa9z5K-dPhXMb7Kl77v5SouzJ3upbPn87YaOGaLz40BUkZ3tcRAo16nxYEOJb4-Ru2VUkIdCbEcH0uUgiZekWPkFpCWmlFBktvrVN-S03muA2zECPFsDTtNTYhzzmfYMIhDJziA-y5yc3Z5DmFyzDdP3cXuIJgytEg40Yye5EuSbLTS84Bq3URSHuF_5f8zoxOhYpJjpjM9zLrZey6rKJPpbZB-74Td7UTyEdBwZrYXlfAmdB8OEg"
